<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<!-- resources/static/fragments/navbar.html -->
<nav class="navbar navbar-expand-lg bg-light shadow-sm mb-4">
    <div class="container-fluid">
        <span class="navbar-brand fw-bold">Odontología</span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pacienteLista.html">Gestión Pacientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="odontologoLista.html">Gestión Odontólogos</a>
                </li>
				<li class="nav-item">
				                    <a class="nav-link" href="turnoLista.html">Gestión Turno</a>
				                </li>
            </ul>

            <span id="usuarioActual" class="me-3 fw-semibold text-secondary"></span>

            <form id="logoutForm" action="/logout" method="post" class="d-flex">
                <button type="submit" class="btn btn-danger ms-auto">Salir</button>
            </form>
        </div>
    </div>
</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>